:host {
  height: 100vh;
  background-color: #3f51b5;
  display: block;
}

/* FORM */
form {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

/* Material form field */
form mat-form-field {
  width: 100%;
}

/* Material card actions */
form mat-card-actions {
  display: flex;
  justify-content: center;
}

/* Medium */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
  }
}

/* Large */
@media screen and (min-width: 64em) {
  form {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
  }
}
