<p>
    <!-- esto es un metodo para obtener el valor 
     y se muestra en pantalla -->
    Name: {{nameField.value}} {{nameField.valid}}
    <input type="text" [formControl] ="nameField">
    <button [disabled]="nameField.invalid" (click)="getNameValue()">Get value</button>
</p>

<p>
    <strong *ngIf="nameField.touched && nameField.hasError('required')">OYE WEY ESCRIBE ALGO!!!!</strong>
</p>

<p>
    <strong *ngIf="nameField.touched && nameField.hasError('maxlength')">te pasaste wey...</strong>
</p>

<p> 
    Email: {{emailField.value}}
    <input type="email" [formControl]="emailField">
</p>

<p>
    Phone: {{phoneField.value}}
    <input type="tel" [formControl]="phoneField">
</p>

<p>
    Color: {{colorField.value}}
    <input type="color" [formControl]="colorField">
</p>

<p>
    Date: {{dateField.value}}
    <input type="date" [formControl]="dateField">
</p>

<p>
    Number: {{numberField.value}}
    <input type="number" [formControl]="numberField">
</p>

<p>
    Category: {{categroyField.value}}
    <select [formControl]="categroyField">
        <option value="category-1">category 1</option>
        <option value="category-2">category 2</option>
        <option value="category-3">category 3</option>
        <option value="category-4">category 4</option>
    </select>
</p>

<p>
    Tags: {{tagField.value}}
    <select [formControl] ="tagField" multiple>
        <option value="tag-1">tag 1</option>
        <option value="tag-2">tag 2</option>
        <option value="tag-3">tag 3</option>
        <option value="tag-4">tag 4</option>
    </select>
</p>

<p>
    Agreed: {{agreedField.value}}
    <input type="checkbox" [formControl]="agreedField">
</p>

<p>
    Gender: {{genderField.value}}
    <label for="">
        <input name="gender" type="radio" [formControl]="genderField" value="male">
        Male
    </label>
    <label for="">
        <input name="gender" type="radio" [formControl]="genderField" value="Female">
        Female
    </label>
    <label for="">
        <input name="gender" type="radio" [formControl]="genderField" value="Soy uno de los 32 tipos de GAYS">
        Joto
    </label>
</p>

<p>
    Zone: {{zoneField.value}}
    <label for="">
        <input name="zone" type="radio" [formControl]="zoneField" value="Zone-1">
        Zona 1
    </label>
    <label for="">
        <input name="zone" type="radio" [formControl]="zoneField" value="Zone-2">
        Zona 2
    </label>
    <label for="">
        <input name="zone" type="radio" [formControl]="zoneField" value="Zone-3">
        Zona 3
    </label>
</p>

<!-- EJERCICIOOOOOO 1-->

<h2>Lista de preferencias</h2>

<p>
    Are you sure about to answer the question?
</p>
<p>
    seguro: {{seguroField.value}}
    <input type="checkbox" [formControl]="seguroField">
</p>
<p>
    que prefieres?:
</p>
<p>
    Preferencia: {{preferenciaField.value}}
    <label for="">
        <input type="radio" name="gusto" value="Culonas" [formControl] ="preferenciaField">
        Culonas
    </label>
    <label for="">
        <input type="radio" name="gusto" value="Tetas" [formControl] ="preferenciaField">
        Tetas
    </label>
    <label for="">
        <input type="radio" name="gusto" value="Ambas" [formControl] ="preferenciaField">
        Ambas
    </label>
</p>

