input.is-valid {
  border: 2px solid green;
}

input.is-invalid {
  border: 2px solid red;
}

.messages {
    opacity: 0;
    transition: all .3s ease-in;
}

.messages.activate {
    opacity: 1;

}

.full-width{
  width: 100%;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}